<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool website!">
    <title>Welcome to This!</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1>A Wbsite :O</h1>
    </header>

    <main>
        <h2>Oh hi,</h2>
        <footer>Made for <a href="http://azuresmp.ga/smp">SMP</a>!</footer>
</body>
</html>
